<h1>About thesimplegood</h1>
<p>
The Simple Good is a organization dedicated to connecting the lives of people from all over the world through art and discussion focused on the basic element of good in our lives.
</p>
