<div class="footer">
  <small>
    <%= link_to 'thesimplegood', root_path, class: "brand" %>
    © 2014 the simple good. All images covered by creative commons attribution license (creativecommons.org).
  </small>
</div>
